header.header
    .header__top
        .container
            .contacts
                a.contact(href="tel: +7904444557")
                    i.fa.fa-phone(aria-hidden="true")
                    span.contact__text 89508400048
                a.contact(href="mailto:info@business.co")
                    i.fa.fa-envelope(aria-hidden = "true")
                    span.contact__text info@business.co
                a.facebook-icon(href="facebook.com")
                    i.fa.fa-facebook-square(aria-hidden="true")
     
    .container
        .header__bottom
            .logo: img.logo__picture(src="images/logo.png" alt="pucture")
            nav.nav
            - var items = ['Home', 'About us', 'Our Approch', 'Our Work']
                each item in items
                    if item === 'Home'
                        a.nav_link.nav_link--active(href="#")= item
                    else
                        a.nav_link(href="#")= item
            a.button.header_button.button--red(href="#") Free Consultation




